@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('stylesheets/modern-normalize.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
  background-color: var(--background);
}

pre {
  font-family: inherit;
}

:root[data-theme="light"] {
  color-scheme: light;
  --text: #06111b;
  --background: #fafcfe;
  --primary: #205b89;
  --primary-darker: #13466d;
  --primary-lighter: #286b9e;
  --secondary: #b3c8d8;
  --secondary-darker: #8fb0ca;
  --secondary-lighter: #c0d9ec;
  --accent: #a22c2c;
  --accent-darker: #912626; 
  --accent-lighter: #af3333;

  --icon-invert: invert(0%);
}
:root[data-theme="dark"] {
  color-scheme: dark;

  --text: #e6f0f9;
  --background: #010304;

  --primary: #77b2df;
  --primary-darker: #5d99c8;
  --primary-lighter: #8ec7ee;

  --secondary: #283d4d;
  --secondary-darker: #1c2e3c;
  --secondary-lighter: #3a5c7a;

  --accent: #d35f5f;
  --accent-darker: #b94d4d;
  --accent-lighter: #e27272;

  --icon-invert: invert(100%);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  cursor: pointer;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  padding-top: 110px;
}

main {
  flex: 1;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Krona One";
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.1;
}

h4 {
  font-size: 20px;
  line-height: 1.1;
}

h5 {
  font-size: 16px;
  line-height: 1.2;
}

h6 {
  font-size: 14px;
  line-height: 1.2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.content-container {
  margin: 0 5vw;
}

.switch.themeSwitch{
  position: fixed;
  left: 10px;
  bottom: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 0;
    padding-bottom: 90px; /* ! needed for navbar on the botttom */
  }
  .switch.themeSwitch{
    bottom: 10%;
  }
}