<IfModule mod_rewrite.c>
  RewriteEngine On


  # Proxy API requests to the backend (Node server on localhost:3000)
  RewriteCond %{REQUEST_URI} ^/api/
  RewriteRule ^api/(.*)$ http://localhost:3000/api/$1 [P,L]
 
  # If the requested file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, rewrite all other requests to index.html
  RewriteRule ^ index.html [L]
</IfModule>
